@font-face {
  font-family: SweetlyBroken;
  src: url(SweetlyBroken.ttf);
}

@font-face {
  font-family: JetBrains;
  src: url(JetBrainsMonoRegular.ttf);
}


body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2e3440;
    overflow: hidden;
}

canvas {
    width: 100vw;
    height: 100vh;
}

#control {
   
    position: absolute;
    bottom: 10%;
    right: 5%;
}

img {
    width: 150px;
}

p {
    font-family: JetBrains;
    color: #eceff4;
    font-size: 26px;
}

h1 {
    font-size: 70px;
    font-family: SweetlyBroken;
    font-weight: 900;
    text-align: right;
    color: #eceff4;
}

#general {
    position: absolute;
    width: 40%;
    top: 5%;
    right: 5%;
}

#gen-count {
   font-family: SweetlyBroken;
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    bottom: 5%;
    text-align: right;
    width: 150px;
    left: 10%;
}
#info {
    font-family: SweetlyBroken;
    font-size: 55px;
    font-weight: 900;
    width: 150px;
    position: absolute;
    text-align: right;
    bottom: 10%;
    left: 10%;
}
